<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright (C) 2009-2012 SM2 BALEARES
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
   See the GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program. If not, see http://www.gnu.org/licenses/.
  
   For more information, please contact SM2 BALEARES.
   Mail: info@open-ppm.org
   Web: http://www.talaia-openppm.es/
  
   Authors : Javier Hernandez Castillo, Daniel Casas Lopez
-->
<!--
   Updater : Cedric Ndanga Wandji
   Devoteam, 20/08/2015, user story 17 : adding mapping resource for Purchaseorder Java Class
-->
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="es/sm2/openppm/model/Riskregister.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Customertype.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Assumptionregister.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectcalendar.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Timesheetcomment.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Workingcosts.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Calendarbase.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Chargescosts.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Operationaccount.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Riskcategories.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Customer.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Skillsemployee.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Program.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Security.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Changecontrol.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Metrickpi.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Milestones.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Expensesheet.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Seller.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectfollowup.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectcosts.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Directcosts.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Performingorg.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Procurementpayments.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Teammember.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Bscdimension.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Expenseaccounts.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectassociation.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Skill.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Setting.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Company.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Changetype.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Documentproject.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectactivity.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectkpi.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Operation.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Project.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Contracttype.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Plugin.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Fundingsource.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Geography.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Assumptionreassessmentlog.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Logprojectstatus.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Riskreassessmentlog.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Iwo.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Activityseller.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectcalendarexceptions.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Timesheet.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Incomes.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Expensesheetcomment.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Category.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Documentation.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Stakeholder.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Resourceprofiles.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Contentfile.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectclosure.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Expenses.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Contact.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Issuelog.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Wbsnode.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Employee.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Budgetaccounts.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Projectcharter.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Calendarbaseexceptions.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Checklist.hbm.xml"/>
        <mapping resource="es/sm2/openppm/model/Purchaseorder.hbm.xml"/>	<!-- us17 cnw -->
    </session-factory>
</hibernate-configuration>
